name: Check format
on:
  workflow_dispatch:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v30
      - name: Check format
        run: |
          system="$(nix eval --expr builtins.currentSystem --impure)"
          nix build ".#checks.$system.treefmt" -L
